<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://https://unpkg.com/ionicons@7.1.0/dist/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="/css/certification.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
         <div class="back"><a href="/"><ion-icon name="return-down-back-outline"></ion-icon></a></div>
        <div class="img">
            <img src="/images/JS Back-End - May 2023 - Certificate.jpeg" alt="">
            <img src="/images/JS Applications - February 2023 - Certificate.jpeg" alt="">
             <img src="/images/HTML & CSS - September 2023 - Certificate.jpeg" alt="">
             <img src="/images/ReactJS - October 2023 - Certificate.jpeg" alt="">
             <img src="/images/IT Career Booster - October 2023 - Certificate.jpeg" alt="">
             <img src="/images/MySQL - January 2024 - Certificate.jpeg" alt="">
             <img src="/images/Angular - February 2024 - Certificate.jpeg" alt="">
             <img src="/images/Software Engineering and DevOps - May 2024 - Certificate.jpeg" alt="">
             <img src="/images/Diploma for JavaScript Web Developer.jpeg" alt="">

        </div>
    </div>
</body>
<script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons.js"></script>
</html>