<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://https://unpkg.com/ionicons@7.1.0/dist/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="/css/contact.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <div class="container">
      <div class="back"><a href="/"><ion-icon
            name="return-down-back-outline"
          ></ion-icon></a></div>

      <div class="contact-info">
        <div class="comp"></div>
        <h1>Let's make something greate together!</h1>
        <h2>You can contact me here:</h2>
        <p>Email: emine.selimovska@outlook.com</p>
        <p>My Linkedin:
          <a
            href="https://www.linkedin.com/in/emine-selimovska-31015227a/"
          ><ion-icon name="logo-linkedin"></ion-icon></a></p>
        <p>My Github:
          <a href="https://github.com/EmineSelimovska">
            <ion-icon name="logo-github"></ion-icon></a></p>


      </div>
    </div>
  </body>
  <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons.js"></script>
</html>