<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://https://unpkg.com/ionicons@7.1.0/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
         <div class="back"><a href="/"><ion-icon name="return-down-back-outline"></ion-icon></a></div>

        <h1>JS Web Developer</h1>
        <h2>2022 - 2024 - SOFTWARE UNIVERSITY</h2>
        <p>Programming Fundamentals with JS - basic skills for working with HTMl and CSS, use basic web development, work with linear data structure, analyze complex problems and reduction to computer-executable steps.</p>
        <p>JS Advance - work with classes and object, work with linear structures, make information retrieval and manipulation of the DOM tree, work with
functions and JSON.</p>
<p>JS Applications - Work with non-relational database, work with REST API and asynchronous programming, create simple Single Page application, use HTTP and make requests.</p>
<p>JS WEB - JS Back-End - MongoDB, NoSQL, Express.js,Node.js and
Angular - DI, Intro to RxJS, Services, Modules and Routing, Forms, Pipes, Interceptors and Subjects, State.</p>
<p>JS Front-End - HTML and CSS - CSS Flexbox, Typography, CSS Box Model, Responsive Web Design and ReactJS - Components: Basic Idea, Components: Deep Dive, Forms, Routing, React Hooks, Advanced
Techniques.</p>
<p>MySQL - Databases Introduction. Data Definition and Datatypes,Basic CRUD,Built-in Functions,Data Aggregation,Table Relations,Subqueries and JOINs,Database Programmability and Transaction.</p>
<p>Agile Essentials with Scrum - Agile Methodologies, Agile Project
Management ,Scrum, Measuring and Leadership.</p>
<p>Software Engineering and DevOps - Software Engineering
Fundamentals,Version Control with Git,Automated Tesing, Con nuous
Integra on and Con nuous Delivery (CI/CD) with GitHub Ac ons,Con
nuous Integra on and Con nuous Delivery (CI/CD) with
Jenkins,Development Workflow,Software Development Methodologies.</p>

<h2>Bachelor of Business
Administration - PU "Paisii Hilendarski" (2018)</h2>
<p>Studying statistics, mathematics, accounting, etc</p>
    </div>
</body>
 <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons.js"></script>
</html>