<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://https://unpkg.com/ionicons@7.1.0/dist/css/ionicons.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Portfolio</title>
  </head>
  <body>

    <div class="background">
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
    </div>

    <div class="conteiner">
      <nav>

        <div class="education nav-item">
          <a href="/education">
            <ion-icon name="school"></ion-icon>
             <span>Education</span>
            </a>
        </div>
        <div class="projects nav-item">
          <a href="/projects">
            <ion-icon name="folder-open"></ion-icon>
             <span>Projects</span>
            </a>
        </div>
        <div class="certification nav-item">
          <a href="/certification">
            <ion-icon name="document"></ion-icon>
             <span>Certification</span>
            </a>

        </div>
        <div class="skills nav-item">
          <a href="/skills">
            <ion-icon name="flower"></ion-icon>
             <span>Skills</span>
            </a>
        </div>
        <div class="contact nav-item">
          <a href="/contact"><ion-icon name="mail">Contact</ion-icon>
           <span>Contact</span>
          </a>
        </div>
        <div class="about nav-item">
          <a href="/about"><ion-icon name="woman"></ion-icon>
           <span>About me</span>
          </a>
        </div>
      </nav>

      <div class="me">
        <p>Hello 👋 I'm</p>
        <section class="animation">
          <div class="first"><div>Emine Selimovska.</div></div>
          <div class="second"><div> JavaScript Developer</div></div>
          <div class="third"><div>Software Engineer</div></div>

        </section>

        <img class="userPic" src="/images/emine-pic.jpg" alt="emine-pic" />
      </div>

    </div>

  </body>
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
</html>