<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="conteiner">
        <nav>
            <img class="userPic" src="/images/emine-pic.jpg" alt="emine-pic">
     
        <div class="userDetails">
            <h1>Emine</h1>
            <h2>Selimovska</h2>
            <span>Software developer</span>
        </div>
        <div class="education">
            <a href="/education">
       <ion-icon name="school"></ion-icon></a>
        </div>
        <div class="projects">
           <a href="/projects">
            <ion-icon name="folder-open"></ion-icon></a>
        </div>
        <div class="certification">
            <a href="/certification">
            <ion-icon name="document"></ion-icon></a>
        </div>
          <div class="skills">
           <a href="/skills">
           <ion-icon name="flower"></ion-icon></a>
        </div>
         <div class="contact">
          
       <a href="/contact"><ion-icon name="mail">Contact</ion-icon></a>   
        </div>
          <div class="about">
          
           <a href="/about"><ion-icon name="woman"></ion-icon></a>
        </div>
        </nav>
        <div class="me"></div>
        <h1>Hi, I'm Emine Selimovska. Welcome to my world.</h1>
    </div>
</body>
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</html>