<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/style.css" >

</head>
<body>
    <div class="container">
        <nav>
            <img class="userPic" src="/images/emine-pic.jpg" alt="emine-pic">
     
        <div class="userDetails">
            <h1>Emine</h1>
            <h2>Selimovska</h2>
            <span>Software developer</span>
        </div>
        <div class="home">
            <ion-icon name="school"></ion-icon>
        </div>
        <div class="projects">
            <ion-icon name="archive"></ion-icon>
        </div>
        <div class="contact">
           <ion-icon name="mail-unread"></ion-icon>
        </div>
        </nav>
    </div>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>