<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://https://unpkg.com/ionicons@7.1.0/dist/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="/css/skills.css" />
    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>
    <div class="container">
      <div class="back"><a href="/"><ion-icon
            name="return-down-back-outline"
          ></ion-icon></a></div>
      <div class="skills-grid">
        <div class="skill-card keySkills">
          <h2>KEY SKILLS</h2>
          <div class="skills-list">
            <p class="tech">Node.js</p>
            <p class="tech">Express</p>
            <p class="tech">HTML5</p>
            <p class="tech">CSS3</p>
            <p class="tech">Angular</p>
            <p class="tech">React</p>
            <p class="tech">TypeScript</p>
            <p class="tech">REST API</p>
            <p class="tech">MongoDB</p>
            <p class="tech">MySQL</p>
          </div>
        </div>

        <div class="skill-card softSkills">
          <h2>SOFT SKILLS</h2>
          <div class="skills-list">
            <p class="soft">Attention to details</p>
            <p class="soft">Teamwork & Cooperation</p>
            <p class="soft">Problem-solving</p>
            <p class="soft">Communication</p>
            <p class="soft">Persistence</p>
            <p class="soft">Willingness to learn</p>
          </div>
        </div>

        <div class="skill-card languages">
          <h2>LANGUAGES</h2>
          <div class="skills-list">
            <p class="lang">Bulgarian (Native)</p>
            <p class="lang">English (A2)</p>
            <p class="lang">Russian (A2)</p>
          </div>
        </div>
      </div>

    </div>

    <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons.js"></script>
  </body>
</html>