<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/style.css" >

</head>
<body>
    <div class="container">
        
        <main>
            <div class="key">
                <h1>KEY SKILLS</h1>
               
            </div>

            <div class="info-key">
                 <p>JavaScript</p>
                 <p>HTML</p>
                 <p>CSS</p>
                 <p>Node.js, Express</p>
                 <p>Angular</p>
                 <p>ReactJS</p>
                 <p>Git,GitHub</p>
                 <p>TypeScript</p>
                 <p>Rest api,JSON</p>
                 <p>MongoDB, MySQL</p>
              
            </div>

        </main>
        <aside class="softSec">
             <div class="soft">
                <h1>SOFT SKILLS</h1>
            </div>

            <div class="info-soft">
                <p>Attention to details</p>
                <p>Teamwork and cooperation</p>
                <p>Searching and sorting</p>
                <p>Communication</p>
                <p>Problem-solving</p>
                <p>Persistence</p>
                <p>Willingness to work with different technologies</p>
            </div>
        </aside>

        <aside class="lang">
            <div class="language">
                <h1>Language</h1>
            </div>

            <div class="info-lang">
                <p>Bulgaria (native)</p>
                <p>English (A2)</p>
                <p>Russian (A2)</p>
            </div>
        </aside>
    </div>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>