<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://https://unpkg.com/ionicons@7.1.0/dist/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="/css/projects.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="conteiner">
      <div class="back"><a href="/"><ion-icon
            name="return-down-back-outline"
          ></ion-icon></a></div>

      <div class="project">
        <h1>Real estate site(study case)</h1>
        <p>The project boasts a structured component architecture, utilizing
          React Router for seamless navigation and CSS for styling.</p>
        <p>- Key features include user authentication with secure
          registration/login/logout, property management (create, edit, delete),
          and a comments system.</p>
        <p>- The contact page integrates Google Maps for location visualization
          and a form to submit questions.</p>
        <p>- Technologies used include ReactJS, SoftUni Practice Server, CSS,
          React Router, react-toastify for notifications, Leaflet for map
          integration and form validation.
        </p>
        <p>For more information:<a
            href="https://github.com/EmineSelimovska/ReactJS-Project"
          > <ion-icon name="logo-github"></ion-icon></a></p>

      </div>

      <div class="project-two">
        <h1>E-commerce pizza ordering site (study case)</h1>
        <div class="tools">
          <h2>Tools:</h2>
          <p>Back-End - NodeJS, Express</p>
          <p>Front-End - Angular</p>
          <p>Database - MongoDB</p>
        </div>
        <div class="fuc">
          <h2>Created functionalities:</h2>
          <p>- Choose to add a product to your cart</p>
          <p>- Select a quantity and proceed to checkout by entering a location
            with Google Maps and then using PayPal for payment. When payment is
            complete, an order details page will appear;</p>
          <p>- For login and registration, there is a validation of the fields
            and for an invalid page it redirects to the"Not Found" page;
          </p>
          <p>- Evaluation is done with ngBootstrap and popups with Toastr.
            Search for a product by name and there are tags by which it is
            possible to sort the products.</p>
          <p>For more information:
            <a
              href="https://github.com/EmineSelimovska/angular-project-express-pizza"
            ><ion-icon name="logo-github"></ion-icon></a></p>
        </div>

      </div>
    </div>

  </body>
  <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons.js"></script>
</html>