.content {
   background: rgba(20, 20, 30, 0.5); 
  backdrop-filter: blur(10px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 24px;
  max-width: 1200px;
  margin: 2rem auto;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.content:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
}

.content h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #c299ff, #9885c4);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 15px rgba(152, 133, 196, 0.5);
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  background: linear-gradient(90deg, #c299ff, #9885c4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.content .video {
  text-align: center;
  margin-top: 20px;
}

.content .video iframe {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16/9;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content .video iframe:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.7);
}

@media (max-width: 600px) {
  .content {
    padding: 16px;
    font-size: 16px;
  }
  .content h1 {
    font-size: 1.6rem;
  }
  .content p {
    font-size: 1rem;
  }
  .content .video iframe {
    max-width: 100%;
    height: auto;
  }
}