@import url("/css/style.css");


.content{
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
     max-width: 1200px;
     margin: 2rem auto;
}

.content h1{
  color:  rgb(116, 22, 92)
}


 .content .video {
    text-align: center;
    margin-top: 20px;
   
  }

  iframe{
    border-radius: 10px;
  }


  @media  (min-width:300px) and (max-width:400px){
   
    .content{
      margin: 0 auto;
     padding: 16px;
     font-size: 16px;
      
    }

    iframe{
     height: 200px;
      width: 250px;
    }
  }

  @media  (min-width:400px) and (max-width:600px){
 
    .content{
      margin: 0 auto;
     padding: 16px;
     font-size: 16px;
      
    }

    iframe{
      height: 200px;
       width: 300px;
     }
  }
   
  @media  (min-width:600px) and (max-width:800px){
  

    .content{
      margin: 0 auto;
     padding: 16px;
     font-size: 16px;
      
    }

    iframe{
      height: 300px;
       width: 400px;
     }
  }
 