

.contact-info{
    background-color: white;
    border-radius: 10px;
    width: auto;
    background-image: url("/images/women.avif");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    margin: 2em auto;
    flex-direction: column;
    align-items:center;
    justify-content: center;
      max-width: 1200px;
}

.contact-info ion-icon{
    color: black;
   font-size: 35px;
}

.personIcon{
    display: flex;
    color: rgb(48, 20, 75);
    font-size: 10em;
   align-items: center;
   justify-content: center;
}

@media  (min-width:300px) and (max-width:400px){
   
    .contact-info{
        background-position: right;
        margin: 0 auto;
        background-size: 60px;
        padding: 55px;
        text-align: left;
        font-size: 14px;
    }
   
    .contact-info ion-icon{
        font-size: 26px;
    }

    
}

@media  (min-width:400px) and (max-width:600px){

    .contact-info{
        background-size: 80px;
        padding: 65px;
        text-align: center;
    }

    .contact-info ion-icon{
        font-size: 23px;
    }
}


@media  (min-width:600px) and (max-width:800px){

    .contact-info{
        background-size: 160px;
        text-align: center;
        padding: 150px;
    }
}

@media  (min-width:800px) and (max-width:1024px){

    .contact-info{
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        background-size: 180px;
        padding: 170px;
        text-align: center;
        font-size: 16px;
    }
}
