@import url("/css/style.css");


.back a ion-icon{
  font-size: 40px;
  color: black;
}

.project,.project-two, .project-three{
    background-color: white;
    padding: 2em;
    margin: 3em;
    border-radius: 10px;
}

.project-three, img{
 animation-name: example;
  animation-duration: 6s;   
  animation-iteration-count: inherit;
}

.project, .func a ion-icon{
    animation-name: example;
    animation-duration: 12s;   
    animation-iteration-count: inherit;
}

.project-two,.func a ion-icon{
    animation-name: example;
    animation-duration: 24s;   
    animation-iteration-count: inherit;
}


@keyframes example {
    from {color: rgb(252, 235, 235);}
    to {color: black;}
  }

  .func a ion-icon{
    font-size: 30px;
  }

  .project-three img{
    width: auto;
    height: 850px;
    display: block;
    border-radius: 10px;
  }


  @media (min-width: 300px) {
    .container {
      max-width: 300px;
      margin: 0 auto;
    }
    .project, .project-two, .project-three {
      font-size: 10px;
    }
    .project-three img {
      width: 100%;
      height: auto;
    }
  }
  
  @media (min-width: 600px) {
    .container {
      max-width: 600px;
    }
    .project, .project-two, .project-three {
      font-size: 16px;
    }
    .project-three img {
     width: 100%;
     height: auto;
    }
  }
  
  @media (min-width: 800px) {
    .container {
      max-width: 800px;
    }
    .project, .project-two, .project-three {
      font-size: 18px;
    }
    .project-three img {
      width: 100%;
     height: auto;
    }
  }