body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,0.6138830532212884) 100%);
    font-family: "Roboto", sans-serif;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 150px;
    color: azure;
}

.userPic{
    width: auto;
    height: 100%;
}

.userDetails{
    background-color: #e1e6e6;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 10px;
    flex-grow: 1;
}

.education{
    background-color: #f1f7f7;
    color: black;
    width: 10%;
}

.projects{
    background-color: bisque;
    width: 10%;
}
.contact{
    background-color: blanchedalmond;
    width: 10%;
}
.about{
    background-color: rgb(241, 225, 201);
    width: 10%;
}
.skills{
    background-color: rgb(223, 211, 193);
    width: 10%;
}

.certification{
    background-color: rgb(233, 224, 211);
    width: 10%;
}

.userDetails h1{
    margin: 0;
    font-size: 28px;
}
.userDetails span{
    margin: 0;
    display: inline-block;
}

.home, .projects, .contact, .education, .certification, .skills, .about{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: text;
    
}

.home ion-icon, 
.projects ion-icon,
.contact ion-icon,
.education ion-icon,
.certification ion-icon,
.skills ion-icon,
.about ion-icon{
    font-size: 40px;
    
}


main{
    background-color: #e4f1f1 ;
    width: auto;
    height: 280px;
    border-radius: 10px;
}
 .key h1,.soft h1{
    font-size: 25px;
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
 }

 .info-key {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 0px 15px;
 }

 .info-key p{
    display: flex;
    text-align: center;
    padding: 10px;
    margin: 8px 8px;
    border: 0.5px solid;
    border-radius: 20%;
    box-shadow:  0.3em 0.3em 1em rgba(85, 34, 55, 0.6);
 }

 .softSec{
    background-color: #e4f1f1 ;
    width: 700px;
    height: auto;
    border-radius: 10px;
 }

 .info-soft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 10px;
 }

 .info-soft p {
    padding: 15px;
    margin: 8px 8px;
    border: 0.5px solid;
    border-radius: 18%;
    box-shadow:  0.3em 0.3em 1em rgba(85, 34, 55, 0.6);
 }

 .lang{
   position: absolute;
   text-align: center;
   top: 480px;
   left: 820px;
   background-color: #e4f1f1 ;
   width: 200px;
   height: auto;
   border-radius: 10px;
 }

 .info-lang p {
    padding: 2px;
    margin: 24px 24px;
    border-radius: 5px;
    border: 0.5px solid;
    box-shadow:  0.3em 0.3em 1em rgba(85, 34, 25, 0.6);
 }

 p {
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
  }
  .me{
    color: black;
    font-size: 2.63rem;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    background-color:#20d2d8;
  }
  .second div {
    background-color:#CD921E;
  }
  .third div {
    background-color:#c10528;
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  