/* =====================
      ABOUT
===================== */


.content {

  width:100%;

  max-width:1000px;

  margin:150px auto 60px;

  padding:20px;

}



/* =====================
      CARD
===================== */


.about-container {


  background:rgba(255,255,255,.06);

  backdrop-filter:blur(18px);

  border:1px solid rgba(255,255,255,.12);

  border-radius:25px;


  padding:40px;


  box-shadow:

  0 20px 50px rgba(0,0,0,.35);


  transition:.35s ease;


}



.about-container:hover {


  transform:translateY(-6px);


  border-color:rgba(167,139,250,.5);


  box-shadow:

  0 30px 70px rgba(139,92,246,.25);


}



/* =====================
      TITLE
===================== */


.about-container h1 {


  font-size:2rem;


  margin-bottom:25px;

 text-align: center;
  background:

  linear-gradient(
    90deg,
    white,
    #a78bfa
  );


  -webkit-background-clip:text;

  color:transparent;


}



/* =====================
      TEXT
===================== */


.about-container p {


  color:#d4d4d8;


  font-size:1rem;


  line-height:1.8;


  margin-bottom:15px;


}



/* =====================
      SKILLS TAGS
===================== */

.about-skills {

  margin-top:30px;

  display:flex;

  flex-wrap:wrap;

  justify-content:center;

  gap:12px;

}



.about-skills span {

  display:flex;

  align-items:center;

  gap:8px;

  width:max-content;

  padding:10px 18px;

  border-radius:30px;


  background:

  rgba(167,139,250,.12);


  border:

  1px solid rgba(167,139,250,.35);


  color:#c4b5fd;


  font-size:.9rem;

  transition:.3s ease;

}


.about-skills ion-icon {


  font-size:1.2rem;


  color:#a78bfa;


}



.about-skills span:hover {


  transform:translateY(-4px);


  background:

  rgba(167,139,250,.25);


  color:white;


}



/* =====================
      RESPONSIVE
===================== */


@media(max-width:768px){


.content {


  margin-top:130px;


  padding:15px;


}



.about-container {


  padding:25px 20px;


}



.about-container h1 {


  font-size:1.6rem;


}



.about-container p {


  font-size:.9rem;


  line-height:1.6;


}



.about-skills span {


  font-size:.8rem;


  padding:8px 14px;


}


}



@media(max-width:450px){


.about-container {


  border-radius:18px;


}


.about-skills {


  gap:8px;


}


}

.about-action {
  margin-top:30px;
  text-align:center;
}


.about-action a {

  display:inline-block;

  padding:12px 30px;

  border-radius:50px;

  text-decoration:none;

  color:white;

  font-weight:600;

  background:
  linear-gradient(
    90deg,
    #a78bfa,
    #7c3aed
  );

  transition:.3s ease;

}


.about-action a:hover {

  transform:translateY(-4px);

  box-shadow:
  0 15px 35px rgba(139,92,246,.35);

}

