<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://https://unpkg.com/ionicons@7.1.0/dist/css/ionicons.min.css"
    />
     <link rel="stylesheet" href="../css/experience.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Portfolio</title>
</head>
<body>
<div class="container">
      <div class="back"><a href="index.html"><ion-icon
            name="return-down-back-outline"
          ></ion-icon></a></div>

 <div class="experience-content">

    <div class="experience-card">
  <h1>Freelance Software Developer</h1>
  <h3>Msell LTD Real Estate</h3>
  <span>January 2025 – Present</span>

  <div class="tools">
    <h4>Tech Stack:</h4>
    <p>Front-End: ReactJS</p>
    <p>Back-End: Node.js,Express</p>
    <p>Database: MongoDB</p>
  </div>

  <div class="responsibilities">
    <h4>Key Contributions:</h4>
    <ul>
      <li>Developed full-stack real estate platform for property management and bookings.</li>
      <li>Implemented user-friendly admin dashboard with full control over properties and inquiries.</li>
      <li>Built user-facing features for submitting inquiries and scheduling property viewings.</li>
      <li>Focused on responsive design, performance, and clean UI.</li>
    </ul>
  </div>
    </div>
      

    <div class="experience-card">
     <h1>ERP Platform (Front-End Developer Intern)</h1>
     <h3>Cost-Effective Solution</h3>
     <span>May – October 2024</span>

   <div class="tools">
    <h4>Tech Stack:</h4>
    <p>Front-End: ReactJS</p>
    <p>Back-End: Django REST Framework</p>
    <p>Database: PostgreSQL</p>
   </div>

   <div class="responsibilities">
    <h4>Key Contributions:</h4>
    <ul>
      <li>Implemented front-end functionality for an ERP platform that enables clients to manage their products and integrate with their online store.</li>
      <li>Transformed a pre-defined Figma design into a fully functional user interface.</li>
      <li>Collaborated with back-end developers for API integration and data handling.</li>
    </ul>
   </div>
    </div>
 </div>
</div>    
</body>
  <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons.js"></script>
</html>